* {
 box-sizing: border-box;
 margin: 0px;
 padding: 0;
font-family: 'Montserrat', sans-serif
;}

body {
 background-color: #F4F1DE;
}

.logo {
width: 150px;
}

.navbar {
 display: flex;
 padding: 20px 50px; 
 justify-content: space-between;
 align-items: center;
}

.navlinks {
 display: flex;
 align-items: center;
 float: right;
 font-weight: 700;
}

.navbar ul li {
 margin-right: 30px;
 list-style: none;
}

.navbar ul li a{
 text-decoration: none;
 color: #333333
}

.navbar ul li a:after {
 display: block;
 content: '';
 border-bottom: 1px solid black;
 transform: scaleX(0);
 transition: transform 200ms ease-in-out;
}

.navbar ul li a:hover::after {
 transform: scaleX(1);
}

/* source: https: //uiverse.io/Galahhad/heavy-dog-14 */
/* switch settings 👇 */
.ui-switch {
 /* switch */
 --switch-bg: rgb(135, 150, 165);
 --switch-width: 41px;
 --switch-height: 13px;
 /* circle */
 --circle-diameter: 25px;
 --circle-bg: rgb(0, 56, 146);
 --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
 display: none;
}

.slider {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 width: var(--switch-width);
 height: var(--switch-height);
 background: var(--switch-bg);
 border-radius: 999px;
 position: relative;
 cursor: pointer;
}

.slider .circle {
 top: calc(var(--circle-inset) * -1);
 left: 0;
 width: var(--circle-diameter);
 height: var(--circle-diameter);
 position: absolute;
 background: var(--circle-bg);
 border-radius: inherit;
 background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
 background-repeat: no-repeat;
 background-position: center center;
 -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
 ;
}

.slider .circle::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background: rgba(255, 255, 255, 0.75);
 border-radius: inherit;
 -webkit-transition: all 500ms;
 -o-transition: all 500ms;
 transition: all 500ms;
 opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
 left: calc(100% - var(--circle-diameter));
 background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
 background-size: 70%;
}

.ui-switch input:active+.slider .circle::before {
 -webkit-transition: 0s;
 -o-transition: 0s;
 transition: 0s;
 opacity: 1;
 width: 0;
 height: 0;
}


.kjv-headline {
 display: flex;
 min-height: 600px;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;
}

h1 { 
font-size: 40;
font-weight: 700;
color: #333333;
margin-bottom: 20px;
}

.kjv-headline a {
 text-align: center;
 text-decoration: none;
 align-items: center;
 padding: 15px 40px;
 border: none;
 border-radius: 15px;
 background: #264653;
 font-size: 16px;
 color: #fff;
 box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.kjv-headline a:hover {
 background-color: #356274;
 transition: 250ms;
}


footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;

 margin-bottom: 0;
 font-size: 12px;
 color: #fff;
 background-color: #264653;
 padding: 3px 7px;
}

@media screen and (max-width: 600px) {

 .logo {
  margin: auto;
 }

 .navlinks {
  display: flex;
  width: 100%;
 }

 .navbar {
  position: relative;
 }

 .navbar ul li a:after {
  display: none;
 }

 .ui-switch {
  position: absolute;
  top: 300%;
  right: 5%;
 }

 .navbar ul {
  position: absolute;
  top: 90%;
  right: 0;
 }

 .navbar ul li{
  background-color: #2646530f;
  width: 100%;
  text-align: center;
  padding: 2px;
  margin-right: inherit;
 }

 .navbar ul li a {
  padding: 10px;
  color: #333333;
  font-size: 13px;
 }

}

.old-testament,
.new-testament {
 width: 15%;
 padding: 20px;
}

aside div {
 display: flex;
 flex-direction: column;
}

aside div a {
 color: #333;
 text-decoration: none;
 padding: 5px;
 border-radius: 5px;
}

aside div a:hover {
 background-color: #264653;
 color: #fff;
}

.old-testament {
 float: left;
}

.new-testament {
 float: right;
}

main {
 background-color: #ededed;
 box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.2);
 width: 70%;
 border-radius: 20px;
 padding: 40px;
 margin: auto;
}

main p {
 line-height: 2.5;
 color: #333;
}

main sup {
 font-weight: 700;
 color: maroon;
}